.home .applications {
    width: fit-content;
    margin: 0 auto
}

.home {
    padding: 20px;
    text-align: center;
}

.home a {
    color: inherit
}

@media (max-width: 540px) {
    .home .title.is-1 {
        font-size: 2em
    }
    .home .title.is-2 {
        font-size: 1.5em
    }
    .home .title.is-3 {
        font-size: 1em
    }
}