/* -----mail general----- */
.mail {
    background-color: #d3d7ff;
}

.mail.unread > button {
    display: none
}

.container1 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* ----navbar---- */

.nav-head {
    direction: ltr;
    background-color: #f4f4ff;
    padding: 10px;
    text-align: center
    
}

.mail .navbar {
    left: 0;
    flex-grow: 2;
    height: 84vh;
    overflow-y: scroll;
    direction: rtl;
    padding: 0 0 10px 5px;
}

.mail .preview-bottom span {
    margin-bottom: 0 !important;
}

/* ----list---- */

.mail ul {
    direction: ltr;
}
.mail li {
    border: 1px solid black;
    border-bottom: none;
    padding: 10px;
    max-width: 800px;
    overflow: hidden
}

.mail ul:last-child {
    border-bottom: 1px solid black
}
.mail li.unread {
    font-weight: 700;
}
.mail span.subject {
    padding-bottom: 10px;
}
.mail span.content {
    color: #666666
}
.mail span.date {
    margin-left: 10px
}

.mail input {
    width: 40%;
}
select {
    margin: 0
}

/* ----detail section---- */
.mail-compose {
    background-color: #b5bbff;
    padding: 10px
}
.mail-details {
    background-color: #b5bbff;
    padding: 10px;
    height: 100%;
}

.mail .mail-compose {
    text-align: left
}

.mail .details {
    flex-grow: 3;
    text-align: left;
    width: 0%
}

