.mail.unread > button {
    display: none
}

.mail {
    background-color: aqua;
}

.mail-compose {
    background-color: antiquewhite
}
.mail-details {
    background-color: beige;
    padding: 10px
}

.mail li {
    border: 1px solid black;
    border-bottom: none;
    padding: 10px;
    max-width: 800px;
    overflow: hidden
}
.mail ul:last-child {
    border-bottom: 1px solid black
}
.mail li.unread {
    font-weight: 700;
}
.mail ul {
    direction: ltr;
}
.container1 {
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
}

.mail input {
    width: 40%;
}
select {
    margin: 0
}

.mail .mail-compose {
    text-align: left
}

.mail .navbar {
    left: 0;
    width: 40%;
    height: 80vh;
    overflow-y: scroll;
    direction: rtl;
}

.mail .details {
    width: 60%;
    text-align: left;
}

.nav-head {
    direction: ltr;
}