@import './helpers.css';
@import './map.css';
@import './mail.css';
@import './basic.css';

body {
    background-color: azure
}

nav {
    height: 40px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: black;
    color: azure;
    text-align: center;
    align-content: center;
    padding: 10px
}