#map{
    border: 1px solid black;
    width: 100% !important
}
.places-list{
    background: #eefeee;
    width: 100%;
    padding: 20px
}
.place-preview{
    /* background: #fff; */
}

.places-details{
    margin: 20px;
}
.places-details img{
    max-width: 150px;
}

.map section{
    width: fit-content;
}

.info-container {
    flex-grow: 2;
    padding: 0;
    height: 100%;
    overflow: scroll
}
.map-canvas {
    position: relative;
    flex-grow: 3;
}

.map-search-form {
    position: absolute;
    z-index: 1;
    left: 1%;
    top: 10%;
    
}

.map-app {
    background-color: #d5ffd5;
    height: 80vh;
}
.place-preview li {
    border: 1px solid black;
    border-bottom: none;
    padding: 10px;
    max-width: 800px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s
}
.place-preview li:hover {
    background-color: #9bff9b
}
.place-preview ul:last-child {
    border-bottom: 1px solid black
}
.place-preview .delete {
    float: right;
}

.places-edit img{
    max-width: 150px;
}