#map{
    position: absolute !important;
    z-index: -1;
    top:0
}
.places-list{
    background: #fff;
    width: 200px;
    margin: 0 20px
}
.place-preview{
    background: #fff;
}

.places-details img{
    max-width: 150px;
}


