#map{
    width:400px !important;
    height: 400px;
}
.places-list{
    background: #fff;
    width: 200px;
    margin: 0 20px
}
.place-preview{
    background: #fff;
}

.places-details img{
    max-width: 150px;
}

<<<<<<< HEAD
=======
.map section{
    width: fit-content;
}
>>>>>>> 35e21c6761312c10ef9f6102f04c1b9af810f3ef


